<div class="layout">
    <div class="layout__hlavicka">
        <header class="hlavicka">
            <div class="hlavicka__obsah">
                <h1 class="hlavicka__logo">
                    <a href="/" class="logo">
                    <img src="/obrazky/logo.svg" width="214" height="32" alt="logo">
                    </a>
                </h1>
            </div>
        </header>
    </div>
</div>        