---
layout: zakladni
---

<div class="puvod">
    <h2 class="puvod__nadpis">Původ dat</h2>
	<p class="puvod__popis">Data byla převzata z webu <a class="puvod_odkaz" href="https://www.csfd.cz/">www.csfd.cz</a>
    za účelem využití jako zkušební obsah pro výuku práce s nástrojem
     <a class="puvod_odkaz" href="https://www.11ty.dev/">Eleventy</a>.
    Smyslem fiktivního webu FILMY.cz není konkurovat podobným filmovým databázím včetně csfd.cz.
</div>    
